<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculadora de Francisco</title>
  <style>
    #calculator-title {
      text-align: left;
      font-family: 'Arial', sans-serif;
      color: #3498db;
      font-size: 2em;
      margin-top: 20px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  </style>
</head>
<body>

  <div id="calculator-title">i love Francisco - Simple Calculator</div>
  <app-ui></app-ui>

</body>
</html>