<div class="calculator">
    <form>
        <div class="input-group">
            <span class="input-group-addon"><i></i></span> 
            <input id="operator1" [(ngModel)]="operator1" type="number" class="form-control operator1" name="operator1" placeholder="0.0" style="margin-top: 0px; margin-left: 250px;">
        </div>

        <div class="input-group">
            <span class="input-group-addon"><i></i></span>
            <input id="operator2" [(ngModel)]="operator2" type="number" class="form-control operator2" name="operator2" placeholder="0.0"  style="margin-top: 0px; margin-left: 250px;">
        </div>
    </form>

    <div class="button-container" style="margin-left: 80px;">
        <button class="glyphicon glyphicon-plus addition-button" (click)="addition()">
            <span class="button-description">Sumar</span>
        </button>

        <button class="glyphicon glyphicon-minus substraction-button" (click)="substraction()">
            <span class="button-description">Restar</span>
        </button>
        <button class="glyphicon glyphicon-certificate" (click)="multiplicacion()">
            <span class="button-description">Multiplicacion</span>
        </button>
        <button class="glyphicon glyphicon-italic" (click)="logaritmo()">
            <span class="button-description">Logaritmo</span>
        </button>
        <button class="glyphicon glyphicon-certificate" (click)="seno()">
            <span class="button-description">seno</span>
        </button>
        <button class="glyphicon glyphicon-certificate" (click)="coseno()">
            <span class="button-description">Coseno</span>
        </button>
        <button class="glyphicon glyphicon-certificate" (click)="tangente()">
            <span class="button-description">Tangente</span>
        </button>
      
     
    </div>

    <!-- Mueve la caja de texto de resultado aquí con margen superior e izquierdo -->
    <input id="resultado" [(ngModel)]="result" class="result" readonly style="margin-top: 130px; margin-right: 400px;"> <!-- Ajusta los valores según sea necesario -->
</div>